In [10]:
#Imports
import pandas as pd
import csv
#Sqlalchemy imports
from sqlalchemy import Column, Float, Integer, String, DateTime
from sqlalchemy.ext.declarative import declarative_base
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import Session
from sqlalchemy import create_engine,inspect,func

In [11]:
#CSV import
clean_no_index = "../CleanData/clean_no_index.csv"
clean_no_index_df = pd.read_csv(clean_no_index,encoding='latin-1')

In [3]:
#Data structure overview
print("clean_no_index_df column information: \n")
print(clean_no_index_df.columns,clean_no_index_df.dtypes)

clean_no_index_df column information:

Index(['restaurant_name', 'address', 'city', 'state', 'zip_code', 'phone',
       'cuisine_type', 'rating', 'price', 'latitude', 'longitude'],
      dtype='object') restaurant_name     object
address             object
city                object
state               object
zip_code            object
phone              float64
cuisine_type        object
rating             float64
price               object
latitude           float64
longitude          float64
dtype: object

In [12]:
clean_no_index_df.head()

,restaurant_name,address,city,state,zip_code,phone,cuisine_type,rating,price,latitude,longitude
0,Blue Collar,6730 Biscayne Blvd,Miami,FL,33138,1.305756e+10,American (Traditional),4.0,$$,26.079674,-80.252222
1,Atlantic No 5,605 W Main St,Louisville,KY,40202,1.502883e+10,Breakfast & Brunch,4.0,$$,25.750963,-80.258375
2,Famous Dave's,17770 Southcenter Pkwy,Tukwila,WA,98188,1.206631e+10,Barbeque,3.0,$$,34.028292,-81.093276
3,Quiznos,1595 N Peach Ave,Fresno,CA,93727,1.559455e+10,Fast Food,3.0,$,44.939642,-93.136030
4,Hobbit Cafe,2243 Richmond Ave,Houston,TX,77098,1.713527e+10,Breakfast & Brunch,3.5,$$,40.115749,-83.089461

In [13]:
#Output clean test data to CSV
clean_no_index_df.to_csv("../CleanData/clean_test.csv", index=False, header=True)

In [15]:
#Output clean test data to SQLite
engine = create_engine("sqlite:///../sqldata/clean_test.db",echo=True)
Base = declarative_base()
class Vegetarian(Base):
    __tablename__ = "vegetarian"
   # __table_args__ = {'extend_existing': True}
    id = Column(Integer, primary_key=True)
    restaurant_name = Column(String)
    address = Column(String)
    city = Column(String)
    state = Column(String)
    zip_code = Column(Integer)
    phone = Column(Integer)
    cuisine_type = Column(String)
    rating = Column(String)
    price = Column(String)
    latitude = Column(Float)
    longitude = Column(Float)
Base.metadata.create_all(engine)
session = Session(bind=engine)
conn = engine.connect()

clean_no_index_df.to_sql('vegetarian', conn, if_exists='replace', index=False)

2018-03-24 01:05:26,931 INFO sqlalchemy.engine.base.Engine SELECT CAST('test plain returns' AS VARCHAR(60)) AS anon_1
2018-03-24 01:05:26,931 INFO sqlalchemy.engine.base.Engine ()
2018-03-24 01:05:26,933 INFO sqlalchemy.engine.base.Engine SELECT CAST('test unicode returns' AS VARCHAR(60)) AS anon_1
2018-03-24 01:05:26,935 INFO sqlalchemy.engine.base.Engine ()
2018-03-24 01:05:26,938 INFO sqlalchemy.engine.base.Engine PRAGMA table_info("vegetarian")
2018-03-24 01:05:26,940 INFO sqlalchemy.engine.base.Engine ()
2018-03-24 01:05:26,943 INFO sqlalchemy.engine.base.Engine
CREATE TABLE vegetarian (
	id INTEGER NOT NULL,
	restaurant_name VARCHAR,
	address VARCHAR,
	city VARCHAR,
	state VARCHAR,
	zip_code INTEGER,
	phone INTEGER,
	cuisine_type VARCHAR,
	rating VARCHAR,
	price VARCHAR,
	latitude FLOAT,
	longitude FLOAT,
	PRIMARY KEY (id)
)


2018-03-24 01:05:26,944 INFO sqlalchemy.engine.base.Engine ()
2018-03-24 01:05:26,956 INFO sqlalchemy.engine.base.Engine COMMIT
2018-03-24 01:05:26,980 INFO sqlalchemy.engine.base.Engine PRAGMA table_info("vegetarian")
2018-03-24 01:05:26,982 INFO sqlalchemy.engine.base.Engine ()
2018-03-24 01:05:26,985 INFO sqlalchemy.engine.base.Engine PRAGMA table_info("vegetarian")
2018-03-24 01:05:26,986 INFO sqlalchemy.engine.base.Engine ()
2018-03-24 01:05:26,989 INFO sqlalchemy.engine.base.Engine SELECT name FROM sqlite_master WHERE type='table' ORDER BY name
2018-03-24 01:05:26,990 INFO sqlalchemy.engine.base.Engine ()
2018-03-24 01:05:26,993 INFO sqlalchemy.engine.base.Engine PRAGMA table_info("vegetarian")
2018-03-24 01:05:26,994 INFO sqlalchemy.engine.base.Engine ()
2018-03-24 01:05:26,998 INFO sqlalchemy.engine.base.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = 'vegetarian' AND type = 'table'
2018-03-24 01:05:27,000 INFO sqlalchemy.engine.base.Engine ()
2018-03-24 01:05:27,005 INFO sqlalchemy.engine.base.Engine PRAGMA foreign_key_list("vegetarian")
2018-03-24 01:05:27,008 INFO sqlalchemy.engine.base.Engine ()
2018-03-24 01:05:27,010 INFO sqlalchemy.engine.base.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = 'vegetarian' AND type = 'table'
2018-03-24 01:05:27,011 INFO sqlalchemy.engine.base.Engine ()
2018-03-24 01:05:27,017 INFO sqlalchemy.engine.base.Engine PRAGMA index_list("vegetarian")
2018-03-24 01:05:27,019 INFO sqlalchemy.engine.base.Engine ()
2018-03-24 01:05:27,021 INFO sqlalchemy.engine.base.Engine PRAGMA index_list("vegetarian")
2018-03-24 01:05:27,022 INFO sqlalchemy.engine.base.Engine ()
2018-03-24 01:05:27,024 INFO sqlalchemy.engine.base.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = 'vegetarian' AND type = 'table'
2018-03-24 01:05:27,026 INFO sqlalchemy.engine.base.Engine ()
2018-03-24 01:05:27,032 INFO sqlalchemy.engine.base.Engine
DROP TABLE vegetarian
2018-03-24 01:05:27,033 INFO sqlalchemy.engine.base.Engine ()
2018-03-24 01:05:27,042 INFO sqlalchemy.engine.base.Engine COMMIT
2018-03-24 01:05:27,045 INFO sqlalchemy.engine.base.Engine
CREATE TABLE vegetarian (
	restaurant_name TEXT,
	address TEXT,
	city TEXT,
	state TEXT,
	zip_code TEXT,
	phone FLOAT,
	cuisine_type TEXT,
	rating FLOAT,
	price TEXT,
	latitude FLOAT,
	longitude FLOAT
)


2018-03-24 01:05:27,047 INFO sqlalchemy.engine.base.Engine ()
2018-03-24 01:05:27,059 INFO sqlalchemy.engine.base.Engine COMMIT
2018-03-24 01:05:27,080 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2018-03-24 01:05:27,287 INFO sqlalchemy.engine.base.Engine INSERT INTO vegetarian (restaurant_name, address, city, state, zip_code, phone, cuisine_type, rating, price, latitude, longitude) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?)
2018-03-24 01:05:27,288 INFO sqlalchemy.engine.base.Engine (('Blue Collar', '6730 Biscayne Blvd', 'Miami', 'FL', '33138', 13057560366.0, 'American (Traditional)', 4.0, '$$', 26.07967414, -80.25222212), ('Atlantic No 5', '605 W Main St', 'Louisville', 'KY', '40202', 15028833398.0, 'Breakfast & Brunch', 4.0, '$$', 25.750963, -80.258375), ("Famous Dave's", '17770 Southcenter Pkwy', 'Tukwila', 'WA', '98188', 12066312000.0, 'Barbeque', 3.0, '$$', 34.02829213, -81.09327574), ('Quiznos', '1595 N Peach Ave', 'Fresno', 'CA', '93727', 15594548477.0, 'Fast Food', 3.0, '$', 44.939642, -93.13603), ('Hobbit Cafe', '2243 Richmond Ave', 'Houston', 'TX', '77098', 17135265460.0, 'Breakfast & Brunch', 3.5, '$$', 40.11574901, -83.08946112), ('Pizzeria 3301', '3301 W Canal St', 'Milwaukee', 'WI', '53208', 14144550347.0, 'Pizza', 3.5, '$', 29.713354, -95.50425899999999), ('Pita Pit', '141 Township Ave', 'Ridgeland', 'MS', '39157', 16017909925.0, 'Sandwiches', 4.5, '$$', 41.884068400000004, -87.6412297), ("P.F. Chang's", '530 N Wabash Ave', 'Chicago', 'IL', '60611', 13128289977.0, 'Chinese', 3.0, '$$', 39.05737, -94.59787)  ... displaying 10 of 13194 total bound parameter sets ...  ('Smoothie King', '2315 Ponce De Leon Blvd', 'Coral Gables', 'FL', '33134', 13052005392.0, 'Juice Bars & Smoothies', 4.0, '$', 38.257374, -85.760051), ('Buca di Beppo Italian Restaurant', '3355 S University Dr', 'Davie', 'FL', '33328', 19545773287.0, 'Italian', 3.0, '$$', 25.83782, -80.184616))
2018-03-24 01:05:27,340 INFO sqlalchemy.engine.base.Engine COMMIT

In [17]:
#verify table information:
data = engine.execute("PRAGMA table_info([vegetarian]);")
for item in data:
    print(item)

2018-03-24 01:06:31,520 INFO sqlalchemy.engine.base.Engine PRAGMA table_info([vegetarian]);
2018-03-24 01:06:31,521 INFO sqlalchemy.engine.base.Engine ()
(0, 'restaurant_name', 'TEXT', 0, None, 0)
(1, 'address', 'TEXT', 0, None, 0)
(2, 'city', 'TEXT', 0, None, 0)
(3, 'state', 'TEXT', 0, None, 0)
(4, 'zip_code', 'TEXT', 0, None, 0)
(5, 'phone', 'FLOAT', 0, None, 0)
(6, 'cuisine_type', 'TEXT', 0, None, 0)
(7, 'rating', 'FLOAT', 0, None, 0)
(8, 'price', 'TEXT', 0, None, 0)
(9, 'latitude', 'FLOAT', 0, None, 0)
(10, 'longitude', 'FLOAT', 0, None, 0)