In [1]:
#Imports
import pandas as pd
from datetime import datetime
import csv

#Sqlalchemy imports
from sqlalchemy import Column, Float, Integer, String, DateTime
from sqlalchemy.ext.declarative import declarative_base
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import Session
from sqlalchemy import create_engine,inspect,func
# Flask imports
from flask import Flask, jsonify, render_template

In [2]:
#Create engine
    #Set echo=True for debugging
engine = create_engine("sqlite:///../sqldata/restaurants.db",echo=True)
#Link inspector to engine
inspector = inspect(engine)

# Declare a Base using `automap_base()`
Base = automap_base()
#Override class to establish primary for reflection
class SomeClass(Base):
    __tablename__ = "vegetarian"
   # __table_args__ = {'extend_existing': True}
    restaurant_name = Column("restaurant_name",String, primary_key=True)
#Continue automapping:
Base.prepare(engine, reflect=True)


# Use the Base class to reflect the database tables
#Base.metadata.create_all(engine)

2018-03-24 00:07:06,382 INFO sqlalchemy.engine.base.Engine SELECT CAST('test plain returns' AS VARCHAR(60)) AS anon_1
2018-03-24 00:07:06,395 INFO sqlalchemy.engine.base.Engine ()
2018-03-24 00:07:06,399 INFO sqlalchemy.engine.base.Engine SELECT CAST('test unicode returns' AS VARCHAR(60)) AS anon_1
2018-03-24 00:07:06,404 INFO sqlalchemy.engine.base.Engine ()
2018-03-24 00:07:06,411 INFO sqlalchemy.engine.base.Engine SELECT name FROM sqlite_master WHERE type='table' ORDER BY name
2018-03-24 00:07:06,413 INFO sqlalchemy.engine.base.Engine ()
2018-03-24 00:07:06,416 INFO sqlalchemy.engine.base.Engine PRAGMA table_info("vegetarian")
2018-03-24 00:07:06,418 INFO sqlalchemy.engine.base.Engine ()
2018-03-24 00:07:06,421 INFO sqlalchemy.engine.base.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = 'vegetarian' AND type = 'table'
2018-03-24 00:07:06,422 INFO sqlalchemy.engine.base.Engine ()
2018-03-24 00:07:06,427 INFO sqlalchemy.engine.base.Engine PRAGMA foreign_key_list("vegetarian")
2018-03-24 00:07:06,428 INFO sqlalchemy.engine.base.Engine ()
2018-03-24 00:07:06,430 INFO sqlalchemy.engine.base.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = 'vegetarian' AND type = 'table'
2018-03-24 00:07:06,433 INFO sqlalchemy.engine.base.Engine ()
2018-03-24 00:07:06,439 INFO sqlalchemy.engine.base.Engine PRAGMA index_list("vegetarian")
2018-03-24 00:07:06,441 INFO sqlalchemy.engine.base.Engine ()
2018-03-24 00:07:06,444 INFO sqlalchemy.engine.base.Engine PRAGMA index_list("vegetarian")
2018-03-24 00:07:06,446 INFO sqlalchemy.engine.base.Engine ()
2018-03-24 00:07:06,448 INFO sqlalchemy.engine.base.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = 'vegetarian' AND type = 'table'
2018-03-24 00:07:06,450 INFO sqlalchemy.engine.base.Engine ()

In [3]:
inspector.get_table_names()

2018-03-24 00:07:06,474 INFO sqlalchemy.engine.base.Engine SELECT name FROM sqlite_master WHERE type='table' ORDER BY name
2018-03-24 00:07:06,476 INFO sqlalchemy.engine.base.Engine ()

['vegetarian']

In [4]:
columns = inspector.get_columns('vegetarian')

2018-03-24 00:07:06,496 INFO sqlalchemy.engine.base.Engine PRAGMA table_info("vegetarian")
2018-03-24 00:07:06,498 INFO sqlalchemy.engine.base.Engine ()

In [5]:
print("========================")
print("Column names:")
for c in columns:
    print(c['name'])
print("========================")

========================
Column names:
restaurant_name
address
city
state
zip_code
phone
cuisine_type
rating
price
latitude
longitude
========================

In [6]:
Base.classes.keys()

[]

In [7]:
#Create session (to pusb objects and query server)
session = Session(bind=engine)

In [8]:
#first_row = session.query(CLASSNAMEHERE).first()
## Display the row's columns and data in dictionary format
#first_row.__dict__